{% {% extends 'base.html.twig' %}%}

<!doctype html>
<html lang="en">
<head>
   <meta charset="UTF-8">
  {% block title %}<title>Wild Series</title>{% endblock %}
</head>

 {% block body %}
   <h1>{{ website }} index</h1>
{% endblock %}
</html>