{% extends 'base.html.twig' %}

{% block title %}Les acteurs par series{% endblock %}

{% block body %}
    <h1>Liste des séries de {{ actor.name }}</h1>
    <ul>
        {% for program in actor.programs %}
            <li><a href="{{ path('program_show', { 'id': program.id }) }}">{{ program.title }}</a></li>
        {% else %}
            <p>Aucune série trouvée.</p>
        {% endfor %}
    </ul>
{% endblock %}
